:css
  .cstm-btn{
    height: 30px;
    color: black;
    font-size:0.9em;
    padding: 0;
    border-width:1px;
    margin-bottom:10px;
  }
  .field{
    margin: 5px
  }
  #save{
    margin:5px;
    background: none;
  }

= form_for @provider do |f|
  %input{value: "", id: "update_data", name: "update_data", type: "hidden"}
  
  .row
    .col-sm-4
    .col-sm-4
      - if @provider.errors.any?
        #error_explanation
          %h2= "#{pluralize(@provider.errors.count, "error")} prohibited this provider from being saved:"
          %ul
            - @provider.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :provider_id
        = f.text_field :provider_id
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :provider_type
        = f.select :provider_type,[["Data Provider","DR"],["Provider","PR"]],{},{class: "btn cstm-btn"}
      .actions
        %input{type: "checkbox",id: "run_builder"} Do you want to run the Page Builder for this provider?
        %br
        = f.submit 'Save',id: "save",class: ""
      %br
      %br
:javascript
  $("#save").click(function(){
    var run_page_builder = ($("#run_builder").attr("checked"))? "yes" : "no";
    $("#update_data").val(run_page_builder);
  });