%h1 Listing providers

%table
  %tr
    %th Provider
    %th Name
    %th Provider type
    %th
    %th
    %th

  - @providers.each do |provider|
    %tr
      %td= provider.provider_id
      %td= provider.name
      %td= provider.provider_type
      %td= link_to 'Show', provider
      %td= link_to 'Edit', edit_provider_path(provider)
      %td= link_to 'Destroy', provider, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Provider', new_provider_path
