
%hr

.container
  .row
    %h1 Listing providers
    %br
    %table
      %tr
        %th Provider
        %th Name
        %th Provider type
        %th
        %th
      - @providers.each do |provider|
        %tr
          %td= provider.provider_id
          %td= link_to "#{provider.name}", provider
          -if provider.provider_type == "PR"
            - provider_provider_type = "Provider"
          -else
            - provider_provider_type = "Data Provider"
          %td= provider_provider_type
          %td= link_to 'Edit', edit_provider_path(provider)
          %td= link_to 'Destroy', provider, :method => :delete, :data => { :confirm => 'Are you sure?' }

    = link_to 'New Provider', new_provider_path
    %br
