- url = create_cms_articles_path
- headline = "Compose new story"
- if @cms_article.id
  - url = update_cms_article_path(@cms_article.slug)
  - headline = "Edit story"

.row
  .col-sm-12
    %ul.breadcrumbs
      %li= link_to "Home", root_url
      - if @cms_article.id
        %li= link_to @cms_article.title, cms_article_path(file_id: @cms_article.slug)
%h2.headline= headline      

.row
  .col-sm-6           
    = simple_form_for(@cms_article, url: url, html: {role: "form"}) do |f|
      = f.input :title, autofocus: true, label: false, placeholder: "Title", input_html: {class: "col-sm-12"}
      #editor
        %table.table-horizontal
          %td
            %a{"data-toggle" => "modal", "data-target"=>"#layout-selector", id: "btn-layout-selector", class: "pull-left bootstrap-btn btn-xs btn-primary"} Add Layout          
          %td
            #toolbar.wmd-toolbar

          - if @viz_vizs.first.present?
            %td
              %a{"data-toggle" => "modal", "data-target"=>"#chart-selector", id: "btn-chart-selector", class: " bootstrap-btn btn-xs btn-primary"} Add Chart

        = f.text_area :description, id: "input", cols:"65", rows:"26",class: "form-control wmd-input", required: true,placeholder: "Write here and/or drag drop images", :onscroll => "scrolling('textarea')", :onkeyup => "scrolling('textarea')"
        %br
        = f.input :tag, label: false, placeholder: "Tag the article", input_html: {class: "col-sm-12"}
        %br
        %div{style: "margin-top: 5px;"}
        %span= f.check_box :home_page
        %span Make Default page
        %br
        %br
        - if !@cms_article.is_published
          = f.submit 'Save as Draft', class: "btn alt", id: "submit", style: "width: 150px;"
        = f.submit "Publish", class: "btn alt", id: "submit", style: "width: 100px;"
    
  .col-sm-6
    #preview.wmd-preview{:style => "height: 690px; overflow:auto; background: #F2F2F2;"} Live preview

- if @viz_vizs.first.present?
  #chart-selector.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-body
          %table.table.table-bordred.table-hovered 
            - @viz_vizs.each do |viz|
              %tr
                %td                
                  %a{class: "selected-chart", src: "#{viz.slug}"}  
                    = viz.title
                %td                
                  = viz.chart
  
#layout-selector.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %a{class: "layout-chart", src: "1x1", style: "color: white;"}
          %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
            %tr
              %td One Box with 100% width
        %a{class: "layout-chart", src: "1x2", style: "color: white;"}
          %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
            %tr
              %td Box one with 50% width
              %td Box two with 50% width
        %a{class: "layout-chart", src: "1x3", style: "color: white;"}
          %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
            %tr
              %td Box one with 33% width
              %td Box two with 33% width
              %td Box three with 33% width

- chart_type = ""
- if @viz_viz.present?
  - chart_type = @viz_viz.chart

:javascript
  
  var $textBox;
  $(document).ready(function() {    

    if (1==2)  {
      $.ajaxSetup({ 
        'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")} 
      });

    }
        
    $("#highlightCode").click(function(){
      $.SyntaxHighlighter.init({
      'lineNumbers': false,
      'debug': true
      });
    });

    $('textarea').inlineattach({
      uploadFieldName: 'file',
      downloadFieldName: 'filename',           

      uploadUrl: '#{create_cms_images_path}.json', 
      allowedTypes: [
        'image/jpeg',
        'image/png',
        'image/jpg'
      ],

      customUploadHandler: function(file) { return true; },
      errorText: "Error uploading file",
      progressText: '![Uploading file...]()',

      onUploadedFile: function(json) {

        error = json.error;
        $.each(error,function(index,msg) {        

          var err_msg = "";
          var img_url = msg[0].split("-->")[1];

          if (confirm(msg)) {
            err_msg = $("textarea").val().replace('![Uploading file...]()', "![file]("+img_url+")");
          }else {
            err_msg = $("textarea").val().replace('![Uploading file...]()', '');
          }
          $("textarea").val(err_msg);
          
        });
        
      }


    });    
      
    new WMD("input", "toolbar", { preview: "preview" });
  });
  var scrolling = function(opt){
    if(opt=='textarea'){
      $("#preview").scrollTop($("#input").scrollTop());
    }else{
      //$("#source").scrollTop($("#epiceditor-preview").scrollTop());
    }
  }

  $(".selected-chart").click(function(event) {
    event.preventDefault();
    var img_url = $(this).attr("src");
    var html_in = '<div class="pykih-viz" data-slug-id="'+img_url+'" id="'+ img_url +'"></div>';
    $("#input").insertAtCaret(html_in);    
    setTimeout(function(){$("svg").remove(); GenereteChartInMarkdown();},5000);    
  });

  $(".layout-chart").click(function(event) {
    event.preventDefault();
    var img_url = $(this).attr("src");
    var html_in = get_html_template(img_url,"");
    $("#input").insertAtCaret(html_in);
    return false;
  });

  $("#input").keyup(function() {
    setTimeout(function(){ $("svg").remove(); GenereteChartInMarkdown();},10000);
  });