- url = create_cms_articles_path
- headline = "Compose new story"
- if @cms_article.id
  - url = update_cms_article_path(@cms_article.slug)
  - headline = "Edit story"

%h2.headline= headline      

.row
  .col-sm-6           
    = simple_form_for(@cms_article, url: url, html: {role: "form"}) do |f|
      = f.input :title, autofocus: true, label: false, placeholder: "Title", input_html: {class: "col-sm-12"}
      %input{value: "", id: "nested_pages", name: "nested_pages", type: "hidden"}        
      #editor
        %table.table-horizontal
          %td
            %a{"data-toggle" => "modal", "data-target"=>"#layout-selector", id: "btn-layout-selector", class: "pull-left bootstrap-btn btn-xs btn-primary"} Add Layout          
          %td
            #toolbar.wmd-toolbar

          - if @viz_vizs.first.present?
            %td
              %a{"data-toggle" => "modal", "data-target"=>"#chart-selector", id: "btn-chart-selector", class: " bootstrap-btn btn-xs btn-primary"} Add Chart

        = f.text_area :description, id: "input", cols:"65", rows:"26",class: "form-control wmd-input", required: true,placeholder: "Write here and/or drag drop images", :onscroll => "scrolling('textarea')", :onkeyup => "scrolling('textarea')"
        %br
        = f.input :tag, label: false, placeholder: "Tag the article", input_html: {class: "col-sm-12"}
        %br
        %div{style: "margin-top: 5px;"}
        %span{style: "margin-left:10px"}= f.check_box :home_page
        %span Make Default page
        %hr{style: "margin:10px"}
        -if action_name == "new"
          %span{style: "margin-left:10px"}= f.check_box :has_nested_pages, id: "nested_pages_box"
          %span Make Nested pages
          %br
          %br
          .nested{style: "display:none"}
            .pages
              .row.pages_options
                .col-sm-12
                  .col-sm-6
                    %input{type: "text", class: "nested_input", placeholder: "Provide title for menu"}
                  .col-sm-6
                    %select{class: "nested_page", style: "width:80%;height:27px;"}
                      %option{value: ""} 
                      -@all_articles_titles.each do |article|
                        %option{value: article.slug}=article.title
            %br
            .row{style: "margin-top:10px; margin-left:5px"}
              .col-sm-12
                .pull-left
                  %span#more_pages{style: "cursor:pointer"} More

        -if action_name == "edit"
          %span{style: "margin-left:10px"}= f.check_box :has_nested_pages, id: "nested_pages_box"
          %span Make Nested pages
          - display = "none"
          - display = "block" if @cms_article.has_nested_pages?
          .nested{style: "display:#{display}"}
            .pages
              .row.pages_options
                .col-sm-12.option{style: "display:none"}
                  .col-sm-6
                    %input{type: "text", class: "nested_input", placeholder: "Provide title for menu"}
                  .col-sm-6
                    %select{class: "nested_page", style: "width:80%;height:27px;"}
                      %option{value: ""} 
                      -@all_articles_titles.each do |article|
                        %option{value: article.slug}=article.title
              -if @csm_article_nested_content
                .row
                  .col-sm-12
                    -@csm_article_nested_content.each do |nested_data|
                      %br
                      %br
                      .col-sm-6
                        %input{type: "text", class: "nested_input", value: "#{nested_data['name']}"}
                      .col-sm-6
                        %select{class: "nested_page", style: "width:80%;height:27px;"}
                          %option{value: ""} 
                          -@all_articles_titles.each do |article|
                            -if nested_data['page'] == article.slug
                              %option{value: article.slug,selected: "selected"}=article.title
                            -else
                              %option{value: article.slug}=article.title
                    %br
            .row{style: "margin-top:10px;"}
              .col-sm-12
                .pull-left
                  %span#more_pages{style: "cursor:pointer"} More
        %br 
        %hr{style:"margin-top:10px"}
        - if !@cms_article.is_published
          = f.submit 'Save as Draft', class: "btn alt submit", id: "submit", style: "width: 150px;"
        = f.submit "Publish", class: "btn alt submit", id: "submit", style: "width: 100px;"
    
  .col-sm-6
    #preview.wmd-preview{:style => "height: 690px; overflow:auto; background: #F2F2F2;"} Live preview

- if @viz_vizs.first.present?
  #chart-selector.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog 
      .modal-content
        .modal-body{style: "height:600px; overflow-y:scroll;"}
          %table.table.table-bordred.table-hovered 
            - @viz_vizs.each do |viz|
              %tr
                %td                
                  %a{class: "selected-chart", src: "#{viz.slug}"}  
                    = viz.title
                %td                
                  = viz.chart
  
#layout-selector.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %a{class: "layout-chart", src: "1x1", style: "color: white;"}
          %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
            %tr
              %td One Box with 100% width
        %a{class: "layout-chart", src: "1x2", style: "color: white;"}
          %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
            %tr
              %td Box one with 50% width
              %td Box two with 50% width
        - if 1 == 2      
          %a{class: "layout-chart", src: "1x3", style: "color: white;"}
            %table.table.table-bordered{style: "background-color:steelblue;height:100px;"}
              %tr
                %td Box one with 33% width
                %td Box two with 33% width
                %td Box three with 33% width
        %input{name: "vehicle", type: "checkbox", id: "allow-grid-view-box"}With Grid View

- chart_type = ""
- if @viz_viz.present?
  - chart_type = @viz_viz.chart
- new_html = ""
:javascript
  
  var $textBox;
  $(document).ready(function() {    
    new_html = $(".pages_options").html().replace('style="display:none"','');
    if (1==2)  {
      $.ajaxSetup({ 
        'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")} 
      });

    }
        
    $("#highlightCode").click(function(){
      $.SyntaxHighlighter.init({
      'lineNumbers': false,
      'debug': true
      });
    });

    $('textarea').inlineattach({
      uploadFieldName: 'file',
      downloadFieldName: 'filename',           

      uploadUrl: '#{create_cms_images_path}.json', 
      allowedTypes: [
        'image/jpeg',
        'image/png',
        'image/jpg'
      ],

      customUploadHandler: function(file) { return true; },
      errorText: "Error uploading file",
      progressText: '![Uploading file...]()',

      onUploadedFile: function(json) {

        error = json.error;
        $.each(error,function(index,msg) {        

          var err_msg = "";
          var img_url = msg[0].split("-->")[1];

          
          if (confirm(msg)) {
            err_msg = $("textarea").val().replace('![Uploading file...]()', "<img src='"+ img_url +"' />");
          }else {
            err_msg = $("textarea").val().replace('![Uploading file...]()', '');
          }          
          $("textarea").val(err_msg);
          
        });
        
      }


    });    
      
    new WMD("input", "toolbar", { preview: "preview" });
  });
  var scrolling = function(opt){
    if(opt=='textarea'){
      $("#preview").scrollTop($("#input").scrollTop());
    }else{
      //$("#source").scrollTop($("#epiceditor-preview").scrollTop());
    }
  }

  $(".selected-chart").click(function(event) {
    event.preventDefault();
    var img_url = $(this).attr("src");
    var html_in = '<div class="pykih-viz" data-slug-id="'+img_url+'" id="'+ img_url +'"></div>';
    $("#input").insertAtCaret(html_in);    
    setTimeout(function(){$("svg").remove(); GenereteChartInMarkdown();},5000);    
  });

  $(".layout-chart").click(function(event) {
    event.preventDefault();
    var img_url = $(this).attr("src");
    var html_in = get_html_template(img_url,"");
    $("#input").insertAtCaret(html_in);
    return false;
  });

  $("#input").keyup(function() {
    setTimeout(function(){ $("svg").remove(); GenereteChartInMarkdown();},10000);
  });

  $("#input").trigger("keyup");

  $("#nested_pages_box").click(function(){
    if($(this).prop("checked") == true){
      $(".nested").show();
    }
    else{
      $(".nested").hide();
    }
  });
  $("#more_pages").click(function(){
    $(".pages").append("<br><div class=row>"+new_html+"</div><br>")
  });
  $("#submit").click(function(){
    var json_data = [],link_array = [],page_array = []
    $(".nested_input").each(function(){
      link_array.push(this.value);
    });
    $(".nested_page").each(function(){
      page_array.push(this.value);
    });
    var length = page_array.length 
    for(i=0;i<length;i++){
      if(link_array[i] !== "" && page_array[i] !== ""){
      tmp_object = {} 
      tmp_object["name"] = link_array[i];
      tmp_object["page"] = page_array[i];
      json_data.push(tmp_object);
      }
    }
    $("#nested_pages").val(JSON.stringify(json_data));
  })
  $(".submit").click(function(){
    var json_data = [],link_array = [],page_array = []
    $(".nested_input").each(function(){
      link_array.push(this.value);
    });
    $(".nested_page").each(function(){
      page_array.push(this.value);
    });
    var length = page_array.length 
    for(i=0;i<length;i++){
      if(link_array[i] !== "" && page_array[i] !== ""){
      tmp_object = {} 
      tmp_object["name"] = link_array[i];
      tmp_object["page"] = page_array[i];
      json_data.push(tmp_object);
      }
    }
    $("#nested_pages").val(JSON.stringify(json_data));
  })