.row
  .col-sm-12
    %table.table-bordered
      %thead
        %tr
          %th Article name
          %th Sidebar menu
          %th 
          %th 
          %th               
      %tbody    
      - @cms_articles.each do |cms_article|
        %tr
          %td
            = link_to cms_article.title, "/#{cms_article.slug}"
            -if cms_article.home_page
              %a.tag{href: "#"}Default Home page
          %td= cms_article.tag
          %td
            - unless cms_article.archieved
              - if !cms_article.is_published 
                %a{href: "#{pub_arch_article_path(cms_article,'publish')}"} Publish
              -else 
                %a{href: "#{pub_arch_article_path(cms_article,'archieved')}"} Archive
          %td      
            = link_to "Edit", edit_cms_article_path(cms_article)
          %td  
            = link_to "Delete", delete_cms_article_path(cms_article),  confirm: 'Are you sure?'
                
