.row
  .col-sm-12
    %h1 Europeana Dashboard
.row
  .col-sm-2    
    %br
    %div{id: "wallhanger", "data-spy"=>"affix", "data-offset-top"=>"0", style: "widht: 100%;"}
      %ul.pages
        - @core_tags.each do |tag|
          %li{class: (@core_tag.id == tag.id  ? "active": nil)}= link_to tag.name, root_url(tag: tag.slug)
        - if current_user.present?
          %li= link_to "Configure Tags", core_tags_path, class: "f12", style: "color: #2a85e8;"
  .col-sm-10
    %br
    - if @cms_articles.first.present?
      - @cms_articles.each do |cms_article|                
        - if cms_article.is_published or (!cms_article.is_published and current_user.present?)
          .col-sm-4.col-md-4
            .thumbnail{style: "height: 300px;"}
              .caption
                %h5{style: "font-weight: 800;"}
                  = link_to truncate(cms_article.title, length: 30, omission: '...'), cms_article_path(file_id: cms_article.slug), style: "color: black;"                
                %p
                  - if !cms_article.is_published
                    .f11.gray (Draft)
                  .preview-show{class: "wmd-preview preview-#{cms_article.id}", id: "preview-#{cms_article.id}" }

:javascript
  if (gon.cms_articles.length > 0){
      generate_article_chart()
  }
