.row
  .col-sm-12
    %h1 Europeana Dashboard
.row
  .col-sm-2    
    %br
    %div{id: "wallhanger", "data-spy"=>"affix", "data-offset-top"=>"0", style: "widht: 100%;"}
      %ul.pages
        - if !@core_tags.empty?
          - @core_tags.each do |tag|

            - if tag.tag.nil? || tag.tag.blank?
              -tag.tag = "All-Empty-Tags"

            %li{class: (@default_tag_name == tag.tag  ? "active": nil)}= link_to tag.tag, "?tag=#{tag.tag}"
  .col-sm-10
    %h1
      = @cms_article.title
      - if current_user.present?
        %span.pull-right.f11
          = link_to "Edit", edit_cms_article_path(@cms_article), class: "btn btn-default btn-xs"
          = link_to "Delete", delete_cms_article_path(@cms_article),  confirm: 'Are you sure?', class: "btn btn-danger btn-xs"
    %hr
    #editor= text_area(:entry, :body, value: "#{@cms_article.description}", hidden: 'true', id: "input", class: "wmd-input")
    #preview.wmd-preview
          
:javascript
  $(document).ready(function() {
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
  });
