- if current_user.present?
  .row
    .col-sm-12
      .pull-right
        %a.f11.gray{"data-toggle" => "chardinjs", :href => ""} Help
        = link_to "Data", data_filzs_path, class: "btn btn-default btn-xs", "data-intro" => "To add or edit data", "data-position" => "left"
        = link_to "Viz", viz_vizs_path, class: "btn btn-default btn-xs", "data-intro" => "To add or edit visualization", "data-position" => "bottom"
        = link_to "New article", new_cms_articles_path, class: "btn btn-default btn-xs", "data-intro" => "To add article", "data-position" => "top"
.row
  .col-sm-2
    %br
  .col-sm-10
    - i = 0
    - if @cms_articles.first.present?
      - @cms_articles.each do |cms_article|
        - if cms_article.is_published or (!cms_article.is_published and current_user.present?)
          .box1
            %h4= link_to cms_article.title, cms_article_path(cms_article)
            - if !cms_article.is_published
              %span.f11.gray (Draft)
            - if current_user.present?
              .pull-right.f11
                = link_to "Edit", edit_cms_article_path(file_id: cms_article.slug)
                &nbsp;&nbsp;&nbsp;&nbsp;
                = link_to "Delete", delete_cms_article_path(file_id: cms_article.slug),  confirm: 'Are you sure?'
:javascript
  $('.container').chardinJs('start');