.row
  .col-sm-3
    = render partial: "cms_articles/sidebar"

  .col-sm-9
    - if @cms_other_articles.first.present?
      .sg-pattern-body
        %table.table-bordered
          %thead
            %tr
              %th Title
              %th Last Updated
          %tbody    
          - @cms_other_articles.each do |cms_articlez|
            %tr
              %td= link_to cms_articlez.title, "/#{cms_articlez.slug}"
              %td
                %time= "#{time_ago_in_words(cms_articlez.updated_at)} ago"

:javascript
  $(document).ready(function() {
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
  });