.row
  .col-sm-2
    = render partial: "cms_articles/sidebar"
  .col-sm-10
    %h3{style: "padding-top:50px;"}
      = @cms_article.title
      - if current_user.present?
        %span.right.f11
          = link_to "Edit", edit_cms_article_path(@cms_article), class: "btn"
          = link_to "Delete", delete_cms_article_path(@cms_article),  confirm: 'Are you sure?', class: "btn"
    %hr{style: "margin: 0px 0px 30px 0px;height: 1px;"}
    #editor= text_area(:entry, :body, value: "#{@cms_article.description}", hidden: 'true', id: "input", class: "wmd-input")
    #preview.wmd-preview

:javascript
  $( window ).load(function() {

    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
    setTimeout(function(){
      if ($("#collection-in-europeana-api").length > 0){
        $("body h3").each(function(index) { });
        var provider_id = $("#collection-in-europeana-api").attr("provider-id");
        var url = decodeURI("http://www.europeana.eu/api/v2/search.json?wskey=api2demo&query=DATA_PROVIDER%3a%22"+provider_id+"%22&rows=0")
        $.get(url, function (vdata, status) {
          console.log(vdata, provider_id, url)
          if (status == "success") $("#collection-in-europeana-api").html(vdata['totalResults']);
        });
      }
    },500);
    
  });