.row
  .col-sm-3
    = render partial: "cms_articles/sidebar"
  .col-sm-9
    %h1{style: "border-top: solid 5px #333333; padding-top: 20px;"}
      = @cms_article.title
      - if current_user.present?
        %span.right.f11
          = link_to "Edit", edit_cms_article_path(@cms_article), class: "btn"
          = link_to "Delete", delete_cms_article_path(@cms_article),  confirm: 'Are you sure?', class: "btn"
    %hr
    #editor= text_area(:entry, :body, value: "#{@cms_article.description}", hidden: 'true', id: "input", class: "wmd-input")
    #preview.wmd-preview
          
:javascript
  $(document).ready(function() {
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
  });
