.row
  .col-sm-2
    = render partial: "cms_articles/sidebar"
  .col-sm-10
    %h3{style: "padding-top:50px;"}
      = @cms_article.title
      - if current_user.present?
        %span.right.f11
          = link_to "Edit", edit_cms_article_path(@cms_article), class: "btn"
          = link_to "Delete", delete_cms_article_path(@cms_article),  confirm: 'Are you sure?', class: "btn"
    %hr{style: "margin: 0px 0px 30px 0px;height: 1px;"}
    #editor= text_area(:entry, :body, value: "#{@cms_article.description}", hidden: 'true', id: "input", class: "wmd-input")
    #preview.wmd-preview

:css
  .menu {
    float: left;
    cursor: pointer;
    margin-right: 20px;
  }
  #menu ul {
    list-style-type: none;
  }
  .menu.active {
    text-decoration: underline;
  }

:javascript
  $( window ).load(function() {
    var ptype = "#{@provider.provider_type}";
    var api_provider_type = "DATA_PROVIDER";
    if (ptype == "PR") api_provider_type = "PROVIDER";
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
    setTimeout(function(){
      if ($("#collection-in-europeana-api").length > 0){
        $("body h3").each(function(index) { });
        var provider_id = $("#collection-in-europeana-api").attr("provider-id");
        var url = decodeURI("http://www.europeana.eu/api/v2/search.json?wskey=api2demo&query="+api_provider_type+"%3a%22"+provider_id+"%22&rows=0")
        $.get(url, function (vdata, status) {
          if (status == "success") $("#collection-in-europeana-api").html(vdata['totalResults']);
        });
      }
    },500);
    
  });

-fpath1 = "src/js/"
-files = ["lib/topojson.js", "pyk.js", "maps.js", "oneLayer.js", "multiD.js", "columnChart.js", "common.js"]

- files.each_with_index do |file, index|
  - src = file
  - src = fpath1 + src if index > 0
  %script{src: "/columnandmapchart/#{src}"}  