.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li.active= @cms_article.title
    %h1
      = @cms_article.title
      - if current_user.present?
        %span.pull-right.f11
          = link_to "Edit", edit_cms_article_path(@cms_article), class: "btn btn-default btn-xs"
          = link_to "Delete", delete_cms_article_path(@cms_article),  confirm: 'Are you sure?', class: "btn btn-danger btn-xs"
    %hr
    #editor= text_area(:entry, :body, value: "#{@cms_article.description}", hidden: 'true', id: "input", class: "wmd-input")
    #preview.wmd-preview

- chart_type = ""
- if @viz_viz.present?
  - chart_type = @viz_viz.chart

:javascript
  var __locale = 'en';

= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js", "//assets-datawrapper.s3.amazonaws.com/globalize.min.js", "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js", "//assets-datawrapper.s3.amazonaws.com/vendor/d3-light/3.1.7/d3-light.min.js", "//assets-datawrapper.s3.amazonaws.com/vendor/chroma-js/0.5.4/chroma.min.js", "/js/dw", "/js/dw.standalone", "/js/default"

%link{:href => "/css/default.css", :rel => "stylesheet", :type => "text/css"}
/ include chart types
%script{:src => "/vis/raphael-chart/raphael-chart.js", :type => "text/javascript"}
%link{:href => "/vis/raphael-chart/raphael-chart.css", :rel => "stylesheet", :type => "text/css"}
%script{:src => "/vis/line-chart/line-chart.js", :type => "text/javascript"}
%script{:src => "/vis/column-chart/column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/bar-chart/bar-chart.js", :type => "text/javascript"}
%script{:src => "/vis/pie-chart/pie-chart.js", :type => "text/javascript"}
%script{:src => "/vis/donut-chart/donut-chart.js", :type => "text/javascript"}
%script{:src => "/vis/grouped-column-chart/grouped-column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/stacked-column-chart/stacked-column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/bar-chart/bar-chart.js", :type => "text/javascript"}
%script{:src => "/vis/data-table/data-table.js", :type => "text/javascript"}
%script{:src => "/vis/maps/maps.js", :type => "text/javascript"}
%script{:src => "/vis/election-donut-chart/election-donut-chart.js", :type => "text/javascript"}
          
:javascript
  $(document).ready(function() {
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
  });



