.row
  .col-sm-3{style: "padding-bottom: 100px;"}
    = simple_form_for :user, url: "/login" do |f|
      - if notice
        .alert.alert-danger= notice    
      = f.input :email
      = f.input :password
      %br
      = f.button :submit, "Login", name: "login", class: "btn"