= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active= @folder
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %b= @folder
        .pull-right
          = link_to "<i class='glyphicon glyphicon-plus-sign'></i> Pull data from APIs".html_safe, apis_user_account_core_files_path(@account.owner, @account.slug, folder_id: @folder), class: "btn btn-success btn-xs"
          = link_to "<i class='glyphicon glyphicon-plus-sign'></i> New data set".html_safe, new_user_account_core_files_path(@account.owner, @account.slug, folder_id: @folder), class: "btn btn-success btn-xs"
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            %td= link_to "..", user_account_path(@account.owner, @account.slug)
            %td
            %td
          - if @core_files.first.present?
            - @core_files.each do |core_file|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{core_file.file_file_name}".html_safe, user_account_core_file_path(@account.owner, @account.slug, folder_id: @folder, file_id: core_file.slug)
                %td.f11.gray.col-sm-4= core_file.commit_message
                %td.f11.gray.col-sm-2= "#{time_ago_in_words(core_file.updated_at)} ago"