.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li= link_to "Tags", core_tags_path
      %li.active= @core_tag.name
    .panel.panel-default
      = form_for(@core_tag, url: update_core_tag_path(tag_id: @core_tag.slug), :html => { role: "form" }) do |f|
        .panel-heading{style: "background: #F2F2F2; height: 55px;"}
          = f.text_field :name, class: "col-sm-8 form-control", placeholder: "Page Name", autofocus: true, id: "core_tag_name"
        .panel-content{style: "padding: 10px;"}
          .form-group
            -if @core_tag.errors.present?
              - @core_tag.errors[:content].each do |c_error|
                %span.label.label-danger
                  = c_error
            = f.text_area :description, class: "col-sm-12", rows: 2, placeholder: "Add page description"
          .form-group
            = f.submit "Save", class: "btn btn-success", id: "submit"