.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li.active Tags
    - if @core_tags.first.present?
      %table.bordered
        %tr
          %th Genre
          %th Name
          %th Description
        - @core_tags.each do |core_tag|
          %tr
            %td= core_tag.genre
            %td
              - if core_tag.genre == "Pages"
                = link_to core_tag.name, edit_core_tag_path(tag_id: core_tag.slug)
              - else
                = core_tag.name
            %td= truncate(core_tag.description, length: 100, omission: '...')
        %tr
          %td Page
          %td
            = form_for(@core_tag, url: create_core_tags_path, html: {role: "form"}) do |f|
              = f.text_field :name, placeholder: "Write page name here"
              = f.submit "Add New Page", class: "btn btn-success btn-sm", id: "submit"
          %td