.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li.active Tags
    .pull-right= link_to "Add new data", new_core_tags_path, class: "btn btn-success btn-xs", style: "color: white; margin-bottom: 10px;"
    - if @core_tags.first.present?
      %table.bordered
        %tr
          %th Genre
          %th Name
          %th Description
        - @core_tags.each do |core_tag|
          %tr
            %td= core_tag.genre
            %td= link_to core_tag.name, core_tag_path(tag_id: core_tag.slug)
            %td= core_tag.description