= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li.active Settings

.row
  .col-sm-2=render partial: "accounts/sidebar"
  .col-sm-8
    %h4 Manage Collaborators
    .table-responsive
      %table.table.table-condensed.table-borderless.table-striped
        - @permissions.each do |permission|
          %tr
            %td
              = image_tag permission._thumb
              = permission.name
            %td= link_to icon_d, user_account_permissions_delete_path(@account.owner.username, @account.slug, permission.id), genre: "delete", :data => { :confirm =>  'Are you sure?' }
    - if @is_admin
      .well{style: "height: 80px;"}
        = form_for @permission, :url => user_account_permissions_path(@account.owner.username, @account.slug), :html => { :class => 'form-horizontal', method: :post } do |f|
          .col-sm-10
            .form-group
              = f.text_field :email, class: "form-control",  placeholder:"Add a friend's email ID"
          .col-sm-2= f.submit "Invite", class: "btn btn-success"