.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li= link_to "Visualizations", viz_vizs_path
      %li= link_to @viz_viz.title, viz_viz_path(file_id: @viz_viz.slug)
      %li.active Edit    
    .panel.panel-default
      .panel-heading
        %b= @viz_viz.title
      .panel-content{style: "padding: 10px;"}
        .col-sm-6
          %h5 Transformed output
          - if @mapped_output.present?
            %table.table.table-condensed.table-hover
              - @mapped_output[0]["values"][0].each do |key, set|
                %tr
                  %td= set
                  %td.f11= key
        .col-sm-6
          = "."