.row
  .col-sm-12
    %ul.breadcrumbs
      %li= link_to "Home", root_url
      %li= link_to "Visualizations", viz_vizs_path

  = render partial: "viz_vizs/edit-form"    

- if @viz_viz.chart == "Bullet Chart" 
  = render partial: "viz_vizs/bullet-chart"
-elsif @viz_viz.chart == "Compare Line Chart"
  = render partial: "cms_articles/line-chart"
-elsif @viz_viz.chart == "Cross Filter"
  = render partial: "viz_vizs/cross-filter"
-else 
  .row
    .col-sm-4
      %h5 Transformed output
      - if @mapped_output.present?
        %table.bordered
          - @mapped_output.each do |key, set|          
            %tr
              %td= set
              %td= key              
    .col-sm-8
      #pie-chart{style: "height:500px; width:500px;"}
  
        
- chart_types = { "Pie Chart" => "pie", "Election Donut Chart" => "election-donut" , "Donut Chart" => "donut", "Bar Chart" => "bar", "Column Chart" => "column", "Grouped Column Chart" => "grouped-column", "Line Chart" => "line", "Compare Line Chart" => "custom-line", "Bullet Chart" => "bullet-chart" }

:javascript  
  var custom_chart = ["Bubble Chart", "Compare Line Chart", "Bullet Chart", "Cross Filter"];
  if (custom_chart.indexOf(gon.chart_type) >= 0) {
    if (gon.chart_type !== "Cross Filter") {
      selector =  "#pie-chart";
    }else {
      selector =  "#cross-filter-body";
    }
    GenerateCustomChart(gon.chart_type,selector, gon.csv_data, gon.mapped_output);
  }else {
    // display Echart if datawrapper
    dw.visualize({
        type: '#{chart_types[@viz_viz.chart]}-chart', 
        theme: 'default', 
        container: $('#pie-chart'),
        datasource:   dw.datasource.delimited({csv: gon.csv_data})
    });
  }



          