.row
  .col-sm-6
  .col-sm-6  
    = link_to "Add new visualization", new_viz_vizs_path, class: "btn pull-right"
%br    
%br    
%br        

- if @viz_vizs.first.present?
  %table.bordered
    %thead
      %tr
        %th Title
        %th Source Data
        %th Chart Name
        %th Last Updated
    - @viz_vizs.each do |viz|
      %tr
        %td= link_to "#{viz.title}", viz_viz_path(file_id: viz.slug)
        %td= link_to "#{viz.data_filz.file_file_name}", data_filz_path(file_id: viz.data_filz.slug)
        %td= viz.chart
        %td= "#{time_ago_in_words(viz.updated_at)} ago"