.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li.active Visualizations
    .pull-right= link_to "<i class='glyphicon glyphicon-plus-sign'></i> New".html_safe, new_viz_vizs_path, class: "btn btn-success btn-xs"
    .panel.panel-default
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            
            %td
            %td
          - if @viz_vizs.first.present?
            - @viz_vizs.each do |viz|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{viz.title}".html_safe, viz_viz_path(file_id: viz.slug)
                %td.f11.gray.col-sm-2= "#{time_ago_in_words(viz.updated_at)} ago"