.row
  .col-sm-12
    %ul.breadcrumbs
      %li= link_to "Home", root_url
      %li= link_to "Visualizations", viz_vizs_path
    %h2.headline= @viz_viz.title

.sg-pattern-body.right
  %a.btn{:href => "#", id: "get-pie"} Next &raquo;
.intro Drag and drop data column names to boxes to model the data


.row
  .col-sm-12
    %br
    %br
    #pie-mapper.row
      #user-variables.col-sm-4{style: "margin-bottom: 100px;"}
      - @viz_viz.reference_map.each do |m|
        .col-sm-2
          %h5= m[0]
          .takes-drop{"id" => m[0] + "-drop", "data-droptype" => m[1], "map_identifier" => m[0], "data-map-type" => m[2]} Drop Here
-if @viz_viz.map.present?
  -dbmap = @viz_viz.map
-else
  -dbmap = "'NA'"
= javascript_include_tag("/mapper")
:javascript
  var pm = new PieMapper({
    DATA: [#{@viz_viz.headers}],
    MAP: #{dbmap},
    URL: "/visualizations/#{@viz_viz.slug}/put_map"
  });
  pm.init();

  $("#get-pie").click(function(){
      pm.mappingData();
  });