.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Home", root_url
      %li= link_to "Visualizations", viz_vizs_path
      %li= link_to @viz_viz.title, viz_viz_path(file_id: @viz_viz.slug)
      %li.active Map
    %h1= @viz_viz.title
    %button.btn.btn-primary#get-pie Next &raquo;
    %br
    %h4 Map columns to Chart
    %br
    #pie-mapper.row
      #user-variables.col-sm-4
      - @viz_viz.reference_map.each do |m|
        .col-sm-2
          %h5= m[0]
          .takes-drop{"id" => m[0] + "-drop", "data-droptype" => m[1], "map_identifier" => m[0]} Drop Here

= javascript_include_tag("/mapper")
:javascript
  var pm = new PieMapper({
    DATA: [#{@viz_viz.headers}],
    URL: "/visualizations/#{@viz_viz.slug}/put_map"
  });
  pm.init();

  $("#get-pie").click(function(){
      pm.mappingData();
  });
