!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Statistics"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

  %body
    .container
      .masthead
        %h3.text-muted Statistics
        %ul.nav.nav-justified
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Projects
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Downloads
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact
      = yield
      

      .footer
        %p &copy; Statistic 2013

    = javascript_include_tag "application"
