!!!
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"} 
    = include_gon
    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Europeana Statistics Dashboard
  %body
    .container
      .row#header-strip
        = link_to "Home", root_url, class: "white left"
      .row#header{role: "banner"}
        .logo-and-search
          .logo
            %h1= link_to image_tag("logo.png"), root_url
        - if session[:user_name] 
          .query-info= link_to "Logout", "/logout"
      .row
        .col-sm-12
          %hr
          - if flash.present?
            - if flash.first.present?
              .row
                .col-sm-12
                  - flash.each do |name, msg|
                    - if name.to_s == "error"          
                      .alert.alert-danger{style:"margin-top:40px;"}
                        = msg
                        %a{ class: "close", "data-dismiss" => "alert"} ×
                    - elsif name.to_s == "notice"
                      .alert.alert-success{style:"margin-top:40px;"}
                        = msg
                        %a{ class: "close", "data-dismiss" => "alert"} ×
                    - elsif name.to_s == "warning"
                      .alert.alert-warning{style:"margin-top:40px;"}
                        = msg
                        %a{ class: "close", "data-dismiss" => "alert"} ×
                    - else
                      .alert.alert-info{style:"margin-top:40px;"}
                        = msg
                        %a{ class: "close", "data-dismiss" => "alert"} ×
      = yield
      .row.footer{role: "contentinfo"}
        .twelve.columns
          .footer-wrapper
            #footer-links-all.row
              .four.columns
                %h3
                  %a.europeana{href: "#", target: "_self", title: "Other Europeana Sites"} Other Europeana Sites
                %ul.footer-links.with-icons
                  %li
                    %span#link-logo-1.icon-logo
                    %a.europeana{href: "http://exhibitions.europeana.eu", target: "_self", title: "Europeana Exhibitions"} Exhibitions
                  %li
                    %span#link-logo-2.icon-logo
                    %a.europeana{href: "http://blog.europeana.eu", target: "_self", title: "Europeana Blog"} Blog
                  %li
                    %span#link-logo-3.icon-logo
                    %a.europeana{href: "http://www.europeana1914-1918.eu", target: "_self", title: "Europeana 1914-1918"} 1914-1918
                  %li
                    %span#link-logo-4.icon-logo
                    %a.europeana{href: "http://remix.europeana.eu/", target: "_self", title: "Europeana Remix"} Remix
                  %li
                    %span#link-logo-5.icon-logo
                    %a.europeana{href: "http://pro.europeana.eu/", target: "_self", title: "Europeana Professional"} Professional
              .four.columns
                %h3
                  %a.europeana{href: "/portal/usingeuropeana.html", target: "_self", title: "Help"} Help
                %ul.footer-links
                  %li
                    %a.europeana{href: "/portal/usingeuropeana_search.html", target: "_self", title: "Searching Europeana"} Searching Europeana
                  %li
                    %a.europeana{href: "/portal/usingeuropeana_explore.html", target: "_self", title: "Exploring Europeana"} Exploring Europeana
                  %li
                    %a.europeana{href: "/portal/usingeuropeana_results.html", target: "_self", title: "Results in Europeana"} Results in Europeana
                  %li
                    %a.europeana{href: "/portal/usingeuropeana_myeuropeana.html", target: "_self", title: "Using My Europeana"} Using My Europeana
                  %li
                    %a.europeana{href: "/portal/usingeuropeana_searchwidget.html", target: "_self", title: "Configure your search widget"} Configure your search widget
              .four.columns
                %h3
                  %a.europeana{href: "/portal/aboutus.html", target: "_self", title: "About us"} About us
                %ul.footer-links
                  %li
                    %a.europeana{href: "/portal/newcontent.html", target: "_self", title: "New content"} New content
                  %li
                    %a.europeana{href: "/portal/europeana-providers.html", target: "_self", title: "All providers"} All providers
                  %li
                    %a.europeana{href: "/portal/aboutus_enews.html", target: "_self", title: "Previous newsletters"} Previous newsletters
                  %li
                    %a.europeana{href: "http://pro.europeana.eu/web/guest/news", target: "_self", title: "Press Centre"} Press Centre
                  %li
                    %a.europeana{href: "http://www.pro.europeana.eu/about/jobs", target: "_self", title: "Jobs"} Jobs
      .row.footer-bottom-links
        .twelve.columns
          = link_to "Europeana API", "http://www.europeana.eu/portal/api-introduction.html", target: "_self", class: "europeana footer-bottom-link"
          = link_to "Terms of use & Policies", "http://www.europeana.eu/portal/rights/terms-and-policies.html", target: "_self", class: "europeana footer-bottom-link"
          = link_to "Contact us", "http://www.europeana.eu/portal/contact.html", target: "_self", class: "europeana footer-bottom-link"
          = link_to "Sitemap", "http://www.europeana.eu/portal/sitemap.html", target: "_self", class: "europeana footer-bottom-link"
          %span.footer-funded-by
            co-funded by the European Union
            %span.icon-euflag