!!!
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"} 
    = include_gon
    :javascript
      var __locale = 'en';
    = stylesheet_link_tag "application", :media => "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Europeana Statistics Dashboard
  %body.sg-pattern-list
    .sg-main{:role => "main", style: "margin-left:50px;margin-right:50px;"}
      %header.header.cf{role: "banner"}
        = link_to "Europeana", root_url, class: "lc logo ir"
        %nav#nav.nav
          %ul
            %li= link_to "Home", root_url, class: (controller_name == "cms_articles" and (action_name == "index" or action_name == "show")) ? "current" : nil
            %li= link_to "Data", data_filzs_path, class: controller_name == "data_filzs" ? "current" : nil
            - if current_user.present?
              %li= link_to "Visualize", viz_vizs_path, class: controller_name == "viz_vizs" ? "current" : nil
              %li= link_to "Compose", "/new", class: (controller_name == "cms_articles" and (action_name == "new" or action_name == "create" or action_name == "edit" or action_name == "update")) ? "current" : nil
              %li= link_to "Settings", edit_settings_path, class: (controller_name == "settings") ? "current" : nil
              %li= link_to "Articles", "/all-articles", class: (controller_name == "cms_articles" and (action_name == "allArticles" )) ? "current" : nil
              %li= link_to "Logout", "/logout"

      .row.row--full
        = image_tag "banner.png", style: "width:100%;"
      .row
        .col-sm-12
          %br
          %br
          - if flash.present?
            - if flash.first.present?
              .row
                .col-sm-12
                  - flash.each do |name, msg|
                    - if name.to_s == "error"          
                      %p.alert.alert-danger
                        %span.icon-alert= msg
                    - elsif name.to_s == "notice"
                      %p.alert.alert-warning
                        %span.icon-yes= msg
                    - else
                      %p.alert.alert-info
                        %span.icon-info= msg
      = yield
      .row{style: "background: white; height: 50px;"}
        %br
      %footer.footer{role: "contentinfo"}
        .lc
          %ul.nav-footer
            %li
              %a{href: "#"} Home
            %li
              %a{href: "#"} About us
            %li
              %a{href: "http://www.europeana.eu/portal/rights/terms-and-policies.html"} Terms & policies
            %li
              %a{href: "http://www.europeana.eu/portal/sitemap.html"} Sitemap
          %p.copyright 
            Co-funded by the European Union.
            %span.icon-euflag
          %a{href: "http://creativecommons.org/licenses/by-sa/4.0/", rel: "license"}
            %img{alt: "Creative Commons License", src: "http://i.creativecommons.org/l/by-sa/4.0/88x31.png", style: "border-width:0"}/