= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active Settings

.row
  .col-sm-2=render partial: "accounts/sidebar"
  .col-sm-8
    = form_for @account, url: update_account_path(@account.owner, @account), method: :put, :html => { role: "form" } do |f|      
      .form-group
        %label Repository Name
        = f.text_field :name, class: "form-control"
      - if 1 == 2
        .form-group
          %label Domain
          = f.text_field :domain, class: "form-control"

      .form-group
        %label Description
        = f.text_area :description, class: "form-control text_area_animate", "expand-height" => "50", rows: "1", style: "width: 700px;"

      .form-group
        = f.submit (@account.id.blank? ? "Add" : "Update"), class: "btn btn-success"
    %br
    %br
    .panel.panel-danger
      .panel-heading Danger Zone
      .panel-body
        %ul.list-group
          %li.list-group-item 
            %h5 Transfer Ownership
            %p
              Transfer this repository to another user.
              %a.btn.btn-danger.pull-right{"data-toggle" => "modal", "data-target"=>"#transfer-account"}              
                Transfer
          %li.list-group-item 
            %h5 Delete this repository
            %p
              Once you delete a repository, there is no going back.
              = link_to "Delete repository", delete_account_path(@account.owner, @account.id),  confirm: 'Are you sure?', class: "btn btn-danger pull-right"


#transfer-account.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h3 Do you really want to transfer this repository?
        .alert.alert-warning
          This is important, pay attention.
        %ul
          %li Transferring may be delayed until the new owner approves the transfer.
          %li
            If you are transferring into an org, teams
            An owner on the org will need to set teams for the repo.
          %li
            Admin rights will be transferred to the new owner, you
            %strong may lose admin rights
            if you are transferring into an organization repository.
          %li
            Redirect entries
            %strong will be
            set up from the previous location.
          %li
            Git access
            %strong will continue
            to work from the previous location.

        =form_tag(transfer_user_account_path(@account.owner, @account.slug), html: {role: "form"} ) do
          .form-group
            %label
              Please type in the name of the repository to confirm.
            .col-lg-12
              = text_field_tag "account", nil, class: "form-control", placeholder: "Repository name", id: "account_account", required: true

            %label
              New owner
            .col-lg-12
              = email_field_tag "owner", nil, class: "form-control", placeholder: "Owner Email id", id: "account_owner", required: true,  autocomplete: "off"
        
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = submit_tag "I understand, transfer this repo.", name: "submit", class: "btn btn-danger", data: { disable_with: "Please wait..." }
