= content_for :title do
  Home
= content_for :breadcrumb do
  %ol.breadcrumb
    %li
      = link_to "Home", root_url
    %li.active
      = link_to "#{@account.name}", ""
.row
  .col-sm-12.pull-right
    .gray.pull-right
      Welcome
      = current_user.to_s 
      %br
      %br
.row
  .col-sm-12    
    = select_tag :sample_license, options_for_select({"Apache v2 license" => "Apachev2","MIT" => "mit", "BSD" => "bsd"}), :prompt => '  Select'    
    = form_for @account, :url => { :action => "license" }, :html => { :class => 'form-horizontal', method: :post } do |f|
      .form-group
        %label.col-sm-4.control-label
          %b
            = "#{current_user.username} / "
        .col-lg-6
          = f.text_field :license, class: "form-control",  placeholder:"License"

        %label.col-sm-4.control-label
          Description
        .col-lg-6
          = f.text_area :license_text, class: "form-control text_area_animate", placeholder:"License Description", "expand-height" => "200", rows: "10", style: "width: 400px;"

        .col-lg-4
          = f.submit "Save", class: "btn btn-success"

:javascript  
  $(document).ready(function() {
    $('#sample_license').change(function(){
      $.ajax({
        url: "#{license_sample_path(current_user.username,@account.name)}",
        type: "GET",
        data: 'license='+$('#sample_license').val(),
        success: function(data){
          $("#account_license_text").html(data);
        }        
      })
    });
  });
